
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@400;500;900&display=swap');
/**

font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
**/

body {
    font-family: 'Roboto', sans-serif;
   
}


#kichwa {
    border-bottom: 1px solid #e7e7e7;
    height: 130px;
    background-color: #ffffff !important;
    margin-bottom: 0px;
}

.navbar-right {
    margin-top: 25px;
}

.subhead img {
    width: 100px;
}

.subhead h2{
    text-transform: uppercase;
    display: inline-block;
    color: #000000;
    font-weight: 900;
    font-size: 100%;
}

.navbar-default .navbar-nav>li>a {
    color: black;
    font-weight: 500;
    font-size: 15pt;
    background-color: transparent !important;
}

.navbar-default .navbar-nav>li>a.highlight {
    color: #d11819;
}


/* Main Stuff For Marketing */

#notHere {
    display: none;
}

#mainStuff {
    background-color:#01b3cd;
    overflow: hidden;

}

div.row.mainBox {
    margin-right: 0px;
    margin-left: 0px;
}
#doctor{
    /**  background-image: url("../images/home.png"); **/
      background-repeat:no-repeat;
      background-size: contain;
}


#doctor img {
    width: 500px;
    z-index: 2000;
    margin-left: 20px;

}

/**#slogan h2 {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 320%;
    font-weight: 400;
    text-align: center;
    margin-top: 100px;
}**/



#mockUp {
    position: relative;
    margin-top: 70px;
  
}

#mockUp h2{
    position: relative;
    margin-top: 70px;
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: black;
    text-align: center;
}


#mockUp h2 span{
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
}


#mockUp button {

    color: #FFFFFF;
    width: 250px;
    line-height: 15px;
    padding: 13px 16px;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 50px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    /**margin: 0px auto 0px auto;**/
    margin-top: 50px;
    transition: all .5s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    border: 2px solid #FFFFFF;
    background-color:#e64b1c;
}

#mockUp button:hover {
    background-color:#297d99;
    color:#ffffff;
    font-weight: 700;
    letter-spacing: 1px;
}


a#icon {
    margin-right: 0px;
    position: fixed;
    right: 0;
    bottom: 100px;
    width: 50px;
    font-size: 26pt;
    text-align: center;
    color: #FFFFFF;
    z-index: 2000000 !important;
    border: 1px solid #f1f1f1;
    background-color: #a71314;
}



/* Social Proof */
#proofCont{

background-color: #a71314;
padding: 20px;
}

div#socialProof {
    background-color: #a71314;
    }

div#socialProof img{
width: 80px;
}

.proof span{
    color: #ffffff;
}


/* About us */

#aboutUs{
padding: 50px;
}

/**
#aboutUs h2{
   text-align: left;
   margin-bottom: 50px;
   font-weight: 900;
} 

#aboutUs h2 span{
  display: block;  
  width: 90px;
  height: 5px;
  background-color: #01b3cd;
  margin-top: 10px;
}**/

#aboutUs img{
    width: 120%;
}

#aboutUs p{
   margin-top: 0px;
   line-height: 2; 
}

#aboutUs button{
    color: #FFFFFF;
    width: 250px;
    line-height: 15px;
    padding: 13px 16px;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 50px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    /**margin: 0px auto 0px auto;**/
    margin-top: 5px;
    transition: all .5s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    border: 2px solid #FFFFFF;
    background-color:#e64b1c;  
}

#aboutUs button:hover{
    background-color:#297d99;
    color:#ffffff;
    font-weight: 700;
    letter-spacing: 1px;
}


#aboutUs ul{
   padding: 0px;
}

#aboutUs ul li{
    list-style-type: none;
    display: inline;
    margin-left: 10px;
  
}

#aboutUs ul li i{
color:#01b3cd;
cursor: pointer;
}

#aboutUs ul li i:hover{
    color:#e64b1c;
    margin-left: 5px;
    transition: all .5s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    }


/* Why Us */
#whyUs{
padding: 30px;
}

.why{
    border: 1px solid black;
    margin-left: 50px;
    padding: 20px;
    border-radius: 5px;
    height: 300px;
}


.why p{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    line-height: 35px;
}

.why ul li{
    list-style-type:none;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    margin-top: 10px;
    font-weight: 900;
}


.why ul li i{
    color:#ffffff;
    cursor: pointer;
    margin-right: 10px;
}

.why1{

 background-image: url("../images/whyOne.png");
 background-repeat: no-repeat;
 background-size: cover;
}

.why2{
    background-image: url("../images/whytwo.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/*.why{
   
    margin: 0px auto 0px auto;
    border: 2px solid grey;
    padding: 20px;
    float:none;
}


.why h2{
 text-align: center;
}

.why h2 span{
    color:#e64b1c;
   }

.why h2 hr{
    border-top: 2px solid #E64B1D;
}   

.why p{

} */



/*  Afri headers */

h2.afriheader{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 900;
}



h2.afriheader span{
    display: block;  
   width: 90px;
   height: 5px;
   background-color: #01b3cd;
   margin-top: 10px; 
}

/* Services */

#services{

}


.service{
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 15px;
    padding: 20px;
}


.service img{
 width: 50px; 

 border-radius: 5px;
 padding: 10px; 
}


.service h2{
   font-size: 14pt; 
   color: #ffffff;
}


.service p{
  font-size: 10pt;
  color: #ffffff; 
}

.service1{
 background-color: #ae34ff;
}

.service1 img{
  background-color: #c36aff;
}

.service2{
   background-color: #d2e1ff; 
}


.service2 img{
  background-color: #dbe7ff;
}

.service2 h2{
    color: black;
}

.service2 p{
    color: black;
}

.service3{
   background-color: #c1fdff; 
}


.service3 img{
    background-color:#d5fbff;
  }

.service3 h2{
    color: black;
}

.service3 p{
    color: black;

}



/* Doctors */

div #joshua{
margin-left: 0px;
}



div.doctor{
  border: 0.5px solid  #707070;
  box-shadow: 5px 5px 5px grey;
  border-radius: 5px;
  margin:20px;
  padding: 0px;
  height: 350px;
  cursor: pointer;
}

.doctor div{
 background-color:#ffffff;
 text-align: center;
 border-radius: 5px;
}
.doctor img{

  width: 150px;
 
}


.doctor h3#headDoc{
  color: #01b3cd;
}

.doctor h3#headDoc span{
    color:  #707070;
  }


.doctor h3{
 font-size: 18px;
 font-weight: 900;
 text-align: center;
}


span.occupation{
    font-size: 11px;
    font-weight: 500;
    color: #707070;
}

.doctor p{
 padding: 10px;
 color: #707070;
}


/* testimonials */

#testimonials{

height: 500px;
padding: 50px;
}

#testimonials img{
 width: 200px;
}


#testimonials h3{
  color: #000000;
}


#testimonials p{
    color: #000000;
}

.carousel-inner{
    
    background-color:#f9f9f9;
    height: 300px;
    padding: 20px;
}


.carousel-indicators .active{
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 40px;
    height: 10px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: #ae34ff;
}

.carousel-indicators li{
    background-color: #a71314;
}

.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 40px;
    height: 10px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color:#c36aff;
}



/* Contact Last code  */

.contacts{

}

.contact{

height: 150px;
}

.contact h4{
    color: #7e7f7f;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.contact i{
  display: inline-block;
  color: #e64b1c;
  background-color: #fceeea;  
  border-radius: 5px;
  border: 0.2px solid #e64b1c;
  padding: 10px;
}


.contact p{
color: black;
font-weight: 600;
}

/* Contact Us Refurbish 

#contactUs{
    background-color: #01b3cd;
    
}

div.contacts{
border: 5px solid black;
padding: 10px;

}

div.contact{

}

div.contact h3{
    color: #000000;
}


div.contact ul{
   
    padding: 0px;
   }

div.contact li{
list-style-type: none;
 color: #000000;
 margin-bottom: 5px;
}

div.contact button{
    width: 200px;
    height: 50px;
    background-color: #e64b1c;
    color: #ffffff;
   }



#contactUs button{

}

*/

/* Contact Us 

#contactUs{
position: relative;

 background-color: #01b3cd;
 padding: 20px;
}

.contacts{
  
    
}

.contacts h2{
  
    text-align: center;
    margin: 50px;
}

.contact{
    position: relative;
    background-color: #ffffff;
    height: 250px;
    border: 2px solid #01b3cd;
    padding: 0px;
}


.contact i{
    position: absolute;
    top: -10px;
    left: -3px;
   font-size: 30pt;
   color: #e64b1c;
   background-color:  #01b3cd;
   padding: 5px;
}
.contact h3{
 font-size: 150%;
 text-align: center;
}

.contact p{
    margin-top: 50px;
    text-align: center;
} */



/*  Footer */

#footer{
background-color: #01b3cd;
padding: 25px;
height: 200px;
}

.foot{
    position: relative;
   
}




.footlogo{
 
}



.footlogo img{
 width: 50px;
}



.footlogo h2{
 font-size: 14pt;
 display: inline-block;
}

.foot ul {
   
    margin-top: 15px;
    padding: 0px;
}


.foot ul li{
    display: inline;
    margin: 5px;
}

.socialIcons{

    
}

.foot i{
    color: #ffffff;
    font-size: 15pt;
  
}
.googleMap{
    padding: 0px;
}

/* Custom, iPhone Retina */


@media only screen and (max-width : 480px) {

    #rama img {
        display: none;
    }



    #slogan h2 {
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        font-size: 220%;
        font-weight: 400;
        text-align: center;
        margin-top: 10px;
    }

    #mockUp {
        position: relative;
        margin-top: 10px;
    }


    br.mobNone {
        display: none;
    }

    #mockUp img {
        width: 500px;
    }




}